a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.table-header-panel .title-1 {
    font-size: 16px;
    line-height: 1;
    color: #999;
}

.table-header-panel .title-2 {
    font-size: 48px;
    color: #333;
}

.view-all-table {
    border-radius: 4px;
    background: #007ba7;
    color: #ffffff;
    padding: 10px 30px;
    margin-right: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;
}

.view-all-table:hover {
    background: #ffffff;
    color: #007ba7;
    border: 1px solid #007ba7;
    text-decoration: none;
}

.table-header-panel .first {
    flex: 0 0 auto;
    width: 75%;
}

.table-header-panel .second {
    flex: 0 0 auto;
    width: 25%;
    margin-top: 26px;
}

.table-header-panel {
    border: 1px solid #dee2e6;
    padding: 24px;
    border-bottom: 0;
}

.table.border {
    border: 1px solid #dee2e6;
}

.color-primary {
    color: #3c7ba7;
}

.dashboard-card {
    padding: 30px;
    border-radius: 8px;
}

.dashboard-card .card-title {
    font-weight: 500;
    margin-bottom: 0;
    font-size: 36px;
    color: #fff;
}

.dashboard-card.bg-one {
    background-color: #3c7ba7;
}

.dashboard-card.bg-two {
    background-color: #5fc2ba;
}

.dashboard-card.bg-three {
    background-color: #333;
}

.dashboard-card .card-text {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 0;
    color: #fff;
}

.dashboard-card i.visibility-icon {
    font-size: 40px;
    color: #fff;
}

.dashboard-card .first {
    flex: 0 0 auto;
    width: 30%;
}

.dashboard-card .second {
    flex: 0 0 auto;
    width: 70%;
}

.recruiters_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.recruiters_title {
    font-weight: 600;
    font-size: 18px;
    color: #007ba7;
    text-transform: uppercase;
}

@media (max-width: 991.98px) {
    .table-header-panel .first {
        flex: 0 0 auto;
        width: 100%;
    }
    .table-header-panel .second {
        flex: 0 0 auto;
        width: 100%;
        margin-top: 26px;
    }
}

@media (max-width: 767.98px) {
    .set-image-sm {
        width: 36px;
        height: 36px;
    }
    .main-content {
        margin-top: 7px;
    }
    .main-sidebar {
        position: fixed;
    }
    .main-sidebar .nav-wrapper .admin-panel-round-img {
        margin-top: 0;
    }
    .main-sidebar {
        margin-top: 56px;
    }
    .navbar {
        height: auto;
    }
    .main-sidebar .nav-wrapper {
        overflow: auto;
    }
    .navbar .navbar-nav .nav-link,
    .navbar .navbar-nav .nav-link img {
        height: auto;
    }
}

@media (max-width: 575.98px) {
    .table-header-panel .title-2 {
        font-size: 32px;
        color: #333;
    }
}